name: Hexo Build Check

on:
  push:
    branches:
      - main 
  pull_request:
    branches:
      - main
jobs:
  build-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' 
          cache: 'npm'      

      - name: Install Dependencies
        run: npm install

      - name: Hexo Generate Check
        run: npx hexo generate 